.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contentOneLine {
  display: flex;
  width: 100%;
  justify-content: left;
  border-bottom: 1px solid #c9c9c9;
}

.contentChild {
  display: flex;
  width: calc(50% - 20px);
  justify-content: left;
  border-bottom: 1px solid #c9c9c9;
}

.contentLabel {
  min-width: 140px;
  padding-right: auto;
  font-weight: bold;
}

.contentText {
}
